:root {
  --calendar-text-color: #000000;
  --calendar-bg-color: rgba(255, 255, 255, 0.1);
  --calendar-nav-color: #000000;
  --calendar-hover-bg: #e5e7eb;
  --calendar-today-bg: #facc15;
  --calendar-selected-bg: #3b82f6;
  --calendar-selected-hover-bg: #d1cbcb;
  --calendar-selected-text: #ffffff;
}

/* dark mode theme need to be fixed  */

.Dark {
  --calendar-text-color: #e5e7eb;
  --calendar-bg-color: rgba(30, 41, 59, 0.3); /* e.g. slate dark glass */
  --calendar-nav-color: #f9fafb;
  --calendar-hover-bg: rgba(255, 255, 255, 0.1);
  --calendar-today-bg: #facc15;
  --calendar-selected-bg: #2563eb;
  --calendar-selected-hover-bg: rgba(203, 213, 225, 0.3);
  --calendar-selected-text: #ffffff;
}
.react-calendar {
  padding: 10px;
  border: none !important;
  border-radius: 10px !important;
  background: var(--calendar-bg-color) !important;
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
}

.react-calendar__tile {
  color: var(--calendar-text-color) !important;
}

.react-calendar__tile--now {
  background: var(--calendar-today-bg) !important;
  color: var(--calendar-text-color) !important;
  border-radius: 0.375rem;
}

.react-calendar__tile--active {
  background: var(--calendar-selected-bg) !important;
  color: var(--calendar-selected-text) !important;
  border-radius: 0.375rem;
}
.react-calendar__tile--active:hover {
  background: var(--calendar-selected-hover-bg) !important;
  color: var(--calendar-text-color) !important;
  border-radius: 0.375rem;
}

.react-calendar__tile:hover {
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0.375rem;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  border-bottom: none !important;
  color: var(--calendar-text-color) !important;
}

.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--calendar-nav-color) !important;
}

.react-calendar__navigation__arrow:hover,
.react-calendar__navigation__label:hover {
  background-color: var(--calendar-hover-bg);
  border-radius: 0.375rem;
}
